################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/covid19canada/rsconnect/shinyapps.io/apexrms/covid19canada.dcf
