# General
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Ignore IHME data
src/IHME
src/covid19canada/data
IHME-deaths-cumulative.csv
IHME-deaths-daily.csv
IHME-infected-daily.csv
IHME-infected-cumulative.csv
/src/covid19canada/rsconnect/shinyapps.io/apexrms/covid19canada.dcf
